<!doctype html>
<html>
<head>
    <title>EZ.Smoothie</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Fugaz+One|Leckerli+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="index.css">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">

</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1 id = "title">EZ.Smoothie Shack</h1>
        <img src="/img/fruitBasket.png" alt="Basket of Fruits">

        <p id="loginSignUpBaristas">Baristas: </p>
        <p id="loginSignUp"> To See Orders Pending or Made</p>
        <button class="loginButton"> <a href="/login"> login </a> </button>
        <button class="signUpButton"> <a href="/signup"> SignUp </a> </button>

    </div>

    <section class="CashierContainer">


    <div class="CashierTitle">
      <h2>Cashier: Input Order Below</h2>
    </div>
    <form class="CashierTitle"action="/orders" method="POST">
      <input type="text" value="" placeholder="customer name" name="name">
      <input type="text" placeholder="type of smoothie" name="order" >
      <br>
      <label for="espresso">Banana</label>
      <input type="radio" placeholder="Espresso Shot" name="espresso">
      <label for="caramel">Strawberry</label>
      <input type="radio" placeholder="Caramel Pump" name="caramel">
      <label for="sugar">Mango</label>
      <input type="radio" placeholder="sugar" name="sugar">
      <label for="cream">Blueberry</label>
      <input type="radio" placeholder="Cream" name="cream">
      <label for="milk">Kale</label>
      <input type="radio" placeholder="Milk" name="milk">
      <br>
      <select class="Size" name="size">
        <option  value="Small">Small</option>
        <option value="Medium">Medium</option>
        <option value="Large">Large</option>
      </select>

      <button type="submit">Submit</button>
    </form>
    </section>

  </div>
</body>
</html>
