body{
  padding-top:80px;
  word-wrap:break-word;
  background-color: #00C49A;
}
img{
  max-height: 300px;
}

.jumbotron{
  background-size: cover;
  background-color: #FFC2B4;

}
#title{
  color: #13585C;
  font-family: 'Fugaz One', cursive;
}
#loginSignUp{
  color: white;
}

.CashierContainer{
  background-color: beige;
  text-align:center;
}

.container .jumbotron {
    border-radius: 250px;
}
