body{
  padding-top:80px;
  word-wrap:break-word;
  background-color: lightblue;
  background-image: url(img/fruitBackground.jpg);
  background-size: cover;
}
img{
  height: 200px;
}

.container{
  margin-top: 100px;
}
